{% extends "blog/base.html" %}
{% load static %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
    <h1>{{ post.title }}</h1>
    <span class="published">Published <time>{{ post.published }}</time></span><br>
    <span class="author">{{ post.author.get_full_name }}</span>
    <span class="topics">
        <ul id="taglist">
            {% for topic in post.topics.all %}
                <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
            {% endfor %}
        </ul>
    </span>
    <section class="content">{{ post.content|safe|linebreaks }}</section>
</article>

{% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" alt="Banner image">
{% endif %}
<section id="comment">
    <h3>Latest comments</h3>
    {% for comment in comments %}
        <article>
            <span class="author">By {{ comment.name }}</span> | <span class="published"><time>{{ comment.created }}</time></span>

            <p>{{ comment.text }}</p>
                <a href="/comments/{{ comment.pk }}/like/" class="like"><img src="{% static 'blog/thumbsup.png' %}" width="20"></a>
                {{ comment.likes }}
                <a href ="/comments/{{ comment.pk }}/dislike/" class="dislike"><img src="{% static 'blog/thumbsdown.png' %}" width="20"></a>
                {{ comment.dislikes }}
            <br><br>
        </article>
    {% endfor %}
    <h2><b><pre></pre></b></h2>
</section>
{% endblock %}
